<div id='container'>
<!-- Your code here -->
  <div class='navigation' ng-init="link = []">
  <ul>
    <li><a href='#links' class='index'>All Links</a></li>
    <li><a href='#shorten' class='create'>Shorten</a></li>
    <li><a href='/logout' class='logout'>Logout</a></li>
  </ul>
  </div>

<!--   <form name='shortenthing' ng-submit='shorten()'>
    <input ng-model="userslink">
    <button ng-click='shorten(userslink)'>Add Link</button>
  </form> -->

  <form name='shortenthing' ng-submit='shorten()'>
    <input type='text' ng-model='url'>
    <button>Add Link</button>
  </form>

<!--   <ul>
    <li ng-repeat='something'> {{}} </li>>
  </ul>
 -->
<div class='links'>
  <div class='link'>
  <img src='assets/redirect_icon.png'>
    <div class='info'>
      <div class='visits'><span class='count'>{{model.visits}}</span>Visits</div>
      <div class='title'>{{model.title}}</div>
      <div class='original'>URL: {{model.url}}</div>
      <a href='{{model.base_url}}/{{model.code}}'>{{model.base_url}}/{{model.code}}</a>
    </div>
  </div>
</div>
</div>


