<div id='container' ng-init='getLinks()'>
  <!-- Your html here -->
  <div class='navigation' ng-init="link = []">
  <ul>
    <li><a href='#links' class='index'>All Links</a></li>
    <li><a href='#shorten' class='create'>Shorten</a></li>
    <li><a href='/logout' class='logout'>Logout</a></li>
  </ul>
  </div>

  <div class='links' ng-repeat='list in listModel'>
    <div class='link'>
    <img src='assets/redirect_icon.png'>
      <div class='info'>
        <div class='visits'><span class='count'>{{list.visits}}</span>Visits</div>
        <div class='title'>{{list.title}}</div>
        <div class='original'>URL: {{list.url}}</div>
        <a href='{{list.base_url}}/api/links/{{list.code}}' ng-click='gooverthere(list)'>{{list.base_url}}/{{list.code}}</a>
      </div>
    </div>
  </div>

</div>
